<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Покупка</title>
</head>
<body>
    <div>
        <h3>Предметы выбранные для покупки:</h3>
        {% for p_p in purchase_products %}
            <tr>
                <td><p>{{ p_p.name }}</p></td>
            </tr>
        {% endfor %}
        <form method="post">{% csrf_token %}
            {% for p_p in purchase_products %}
                <input type="hidden" value="{{ p_p.id }}" name="product" />
            {% endfor %}
            <table>
                <tr>
                    <td><p>Введите свое имя </p></td>
                    <td><input type="text" name="person" /> </td>
                </tr>
                <tr>
                    <td><p>Введите адрес доставки:</p></td>
                    <td>
                        <input type="text" name="address" />
                    </td>
                </tr>
                <tr><td><input type="submit" value="Отправить" /> </td><td></td></tr>
            </table>
        </form>
    </div>
</body>
</html>
